* {
    box-sizing: border-box;
}

body {
    font-family: "Josefin Slab", serif;
    margin: 0;
    text-align: center;
}

.container-a {
    width: 95%;
    margin: 0 auto;
}

/* Typography */

.title {
    font-size: 2.5rem;
}

.title span {
    font-weight: 575;
    display: block;
    font-size: .9em;
    font-style: italic;
}

@media (min-width: 50rem) {
    .title {
        font-size: 3.5rem;
    }
}

/* Header */

header {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 1.75em;
}

.home-hero {
    background-image: url(images/celebrate-photo.jpeg);
    padding: 1em 0;
    height: 100vh;
    color: #F4EEEE;
    background-size: cover;
    background-position: center;
}

nav ul, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: none;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .25em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: #DDD;
}

@media (min-width: 50rem) {
    nav li {
        display: inline-block; 
        padding: 0 1.75rem;
    }

    nav li a {
        font-size: 1.2em
    }

    .side-nav, .open-slide {
        display: none;
    }

    .home-hero {
        background-image: url(images/celebrate-photo.jpeg);
        /* padding: 2rem 0; */
        height: 100vh;
        color: #F4EEEE;
        background-size: cover;
        background-position: center;
        font-weight: 900;
    }
}

/* Side menu */

.side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #df94df;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
}

.side-nav a{
    padding: 1.25em 1.35em;
    font-size: 1.1rem;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.open-slide a {
    position: absolute;
    top: 0;
    left: 0;
    padding: .75em;
}

 .side-nav span .btn-close a{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
}

.btn-close {
    padding: 2em;
    width: 2em
}

/* About Us */

.info {
    background-color: #ffe6ff;
    padding: 1.6em;
    margin-top: -.3em;
    font-size: 1.25rem;
}

.about {
    padding: 1em;
    font-size: 1.55rem;
    line-height: 1.6;
}

@media (min-width: 50rem) {
    .title {
        font-size: 3.5rem;
    }
}

/* Sweets */

.boxes {
    padding-top: 1.25em;
    background-color: whitesmoke;
    font-size: 1.5rem;
    line-height: 1.5;
}

.box {
    text-align: left;
    background-color: whitesmoke;
    padding: 1.25em;
}

.box-inside {
    text-align: right;
    background-color: #ffe6ff;
    padding: 1.25em;
}

.padding {
    padding-left: 1.6em;
    padding-right: 1.6em;
}

.sweets {
    background-color: #ffe6ff;
    padding: 1.25em;
    font-size: 1.5rem;
    line-height: 1.2;
}

@media (min-width: 50rem) {
    .box {
        padding: 1.5em 5em;
        font-size: 1.75rem;
    }

    .box-inside {
        padding: 1.5em 5em;
        font-size: 1.75rem;
    }
}

@media (min-width: 80rem) {
    .box {
        padding: 1.5em 13em;
        font-size: 1.75rem;
    }

    .box-inside {
        padding: 1.5em 13em;
        font-size: 1.75rem;
    }
}

/* Gallery */

.gallery {
    background-color: whitesmoke;
    padding: 1.2em;
    font-size: 1.25rem;
}

.gallery img {
    width: 90%;
    align-items: space-around;
    padding: 1em .75em;
}

@media (min-width: 60rem) {
   .flex-container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .flex-container img {
       display: grid;
       grid-gap: 15px;
       grid-template-columns: repeat(3, 1fr);
       min-width: 100%;
    }

    .pic {
        height: 20em;
        width: 15em;
    }
}


/* Reviews */

.reviews {
    background-color: #ffe6ff;
    padding: 1em;
    font-size: 1.25rem;
    line-height: 1.6;
}

.box-a {
    padding: .35em;
    margin: .4em;
    text-align: center;
    background-color: whitesmoke;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 50rem) {
    .container {
        padding: 5em 10em ;
    }
    .box-a {
        padding: 1.25em;
        font-size: 1.75rem;
    }
}

/* Contact */

.contact {
    background-color: whitesmoke;
    padding: 1.25em;
    font-size: 1.25rem;
}

input[type=text], textarea {
    min-width: 95%;
    padding: .25em;
    box-sizing: border-box;
    resize: vertical;
    margin: .25em;
    font-size: 1rem
}

input[type=submit] {
    background-color: #ffe6ff;
    padding: 1.25em;
    width: 45vw;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    margin: 1.25em;
}

.three-column input {
    text-align: center;
}

@media (min-width: 55rem) {
    .flex-contact{
        padding: 2.5em 20em;
    }

    .three-column input{
        height: 1.75em;
        padding: 1.25em;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type=submit] {
        height: 4em;
        width: 20vw;
        font-size: 1.15rem;
    }
}

/* Footer */

.footer {
    display: block;
    background-color: #ffe6ff;
    padding: 1.25em;
    font-size: 1rem;
    width: 100%;
    margin: 0 none;
    height: auto;
}

.footer a {
    margin: 0 none;
    padding: .5em;
    float: none;
    font-size: 1.75rem;
}

/* Top Button */

#myBtn {
    display: none;
    position: fixed;
    bottom: .2em;
    right: .3em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #d673d6;
    cursor: pointer;
    padding: .75em;
    border-radius: 50%;
    font-size: 1.1rem;
    opacity: 0.75;
}