// Element tags

html {
    box-sizing: border-box;
    font-family: $stack-serif;
    color: $dark;
    font-size: $base-size; 
}

body {
    margin: 30px 50px;
    line-height: 1.4;    
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: $base-size + 1.4;
}

label {
    display: grid;
    padding: .5rem 0;
}

ul {
    li {
        list-style: none;
        font-size: $base-size - 0.6;
    }
}
input {
    textarea {
    width: 55%;
    border-radius: 10px;
    font-family: 'Josefin Slab', serif;
    font-size: $base-size - 0.6;
    color: $dark;
    box-shadow: $shadow;
    }
}

